<div >
  <%unless @bakeries.empty? %>

      <% @bakeries.each do |bakery| %>
        <div class="bakery-card fit shadow mb-3 bg-white rounded d-flex" data-refresh-list-target="list" data-lat=<%=bakery.latitude %> data-lng=<%=bakery.longitude %>>
          <% if bakery.pictures.attached? %>
          <%bakery.pictures.each do |picture| %>
            <%= cl_image_tag picture.key, height: 150, width: 158, crop: :fill %>
          <%end %>
          <%else %>
            <img id="imgProd1" src="https://picsum.photos/id/237/158/150">
          <% end %>

          <div class="bakery-card-infos p-2">

            <div id="name" class="bakery_name">
              <h4><%= link_to bakery.name.upcase,bakery_path(bakery) %></h4>
            </div>

            <div id="address">
              <%= bakery.address.capitalize %>, <%= bakery.post_code %>
            </div>

            <div id="location" class='pt-2'>
              <ul style="list-style: none;">
                <li>Locals</li>
                <li>Visitors</li>
              </ul>
            </div>

          </div>

          <div class='extras d-flex justify-content-between'>
            <div class='p-2 d-flex flex-column justify-content-between'>
              <div id="time">
                <% if (Time.now.hour > bakery.opening_hour.hour && Time.now.hour < bakery.closing_hour.hour)%>
                  <p style="color:green">Open</p>
                <%else %>
                  <p style="color:red">Closed </p>
                <%end %>
              </div>

              <div class="distance-p">
                <%= link_to bakery_path(bakery) do %>
                  5 min walk
                  <i class="fas fa-arrow-right"></i>
                <% end %>
              </div>
            </div>
            <div class='p-2 d-flex flex-column justify-content-between' data-controller="refresh-list">
                <%= render '/bakeries/favourites', bakery: bakery, class: "favourites" %>
            </div>

          </div>
        </div>

      <% end %>

      <%else %>
        <h1>No bakeries found!</h1>
      <%end %>

</div>
