<div id="index-container" >

  <!-- Below is the div that just is a 2 column grid for all pets on left and
  the map on the right-->
  <div class="parent d-flex">

    <!-- Below is the left column which contains all the pets -->
    <div class="bakery-cards col-6 p-3">
      <%unless @bakeries.empty? %>

      <% @bakeries.each do |bakery| %>
        <div class="bakery-card fit shadow mb-3 bg-white rounded d-flex" data-lat=<%=bakery.latitude %> data-lng=<%=bakery.longitude %>>
          <% if bakery.photo.attached? %>
            <%= cl_image_tag bakery.photo.key, height: 100, width: 100, crop: :fill %>
          <%else %>
            <img id="imgProd1" src="https://picsum.photos/id/237/150/150">
          <% end %>

          <div class="bakery-card-infos p-2">

            <div id="name">
              <h4><%= link_to bakery.name.upcase,bakery_path(bakery) %></h4>
            </div>
            <div id="address">
              <%= bakery.address.capitalize %>, <%= bakery.post_code %>
              </div>
            <div id="location">
              <p>Locals <br>Visitors </p>
              </div>

           </div>
           <div class='extras d-flex justify-content-end'>
              <div class='p-2 d-flex flex-column justify-content-between'>
            <div>
              <% if (Time.now.hour > bakery.opening_hour.hour && Time.now.hour < bakery.closing_hour.hour)%>
                <p style="color:green">Open</p>
              <%else %>
                <p style="color:red">Closed </p>
              <%end %>
            </div>
            <div>
              <p>5m</p>
            </div>
          </div>
          <div class='p-2 d-flex flex-column justify-content-between'>
            <div>
              <i class="far fa-star fa-lg"></i>
            </div>
          </div>
        </div>
           </div>



      <% end %>
      <%else %>
        <h1>No bakeries found!</h1>
      <%end %>
    </div>


    <!-- Below is the right column with the map -->

    <div class="map_card col-6 mb-3" id="map"
        style=" height: 92vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
