<div id="index-container" >

  <!-- Below is the div that just is a 2 column grid for all pets on left and
  the map on the right-->
  <div class="parent d-flex">

    <!-- Below is the left column which contains all the pets -->
    <div class="bakery-cards col-6 p-3"  data-index-page-target='list'>
      <% unless @page.nil? %>
        <%= render 'list', bakeries: @bakeries %>

      <%else %>
      <%= render 'list', bakeries: @bakeries %>

      <% end %>

    </div>


    <!-- Below is the right column with the map -->

    <div class="map_card col-6 mb-3" id="map"
        style=" height: 92vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
  <div id="myDIV"class ='d-flex'>
      <% if @bakeries_count %>
          <%unless @bakeries_count < 5 %>
          <%(@bakeries_count.to_f / 5).ceil.times do |time| %>
          <% if (time + 1) == @page.to_i %>
            <%= button_to (time+1) , bakeries_path, method: :get,class:'btn btn-page active', params: { button: (time+1) } %>
          <%else %>
            <%= button_to (time+1) , bakeries_path, method: :get,class:'btn btn-page', params: { button: (time+1) } %>
          <% end %>
          <%end %>
        <%end %>
      <% end %>

    </div>
</div>
