
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="logo">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo-bbe.png", class:"logo-bbe" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_page?(root_path) %>
    <h1>BBE</h1>

  <% else %>
    <div class='search-bar'>
      <%= form_tag bakeries_path, method: :get do %>
        <div class="col-sm d-flex column justify-content-center">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: "search-form-control",
            placeholder: "Find a bakery"
          %>

          <button name="button" type="submit" class="btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="dropdown">

	  <div class="btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag "menu_icon.png", class:"menu-bbe" %>
    </div>

	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <%unless current_user %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <%else %>
        <li><%= link_to "All bakeries", bakeries_path, method: :get %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to "My favourites", "favourites"%></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>


      <% end %>

       <!--
        <li><a class="dropdown-item" href="">Account</a></li>
        <li><a class="dropdown-item" href="#">Favourites</a></li>
        -->
	  </ul>
	</div>

  <!--closind div-->
</div>
