<!DOCTYPE html>
<html>
  <head>
    <title>Big baguette Energy - BBE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Big baguette Energy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.bigbaguetteenergy.fun" />
    <meta property="og:image" content= "https://www.bigbaguetteenergy.fun/assets/harrypotter.jpeg" />
    <meta property="og:image:secure_url" content="https://www.bigbaguetteenergy.fun/assets/harrypotter.jpeg" />
    <meta property="og:image:type" content="jpeg" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <meta property="og:description" content="The easiest app to find bakeries near you" />
    <script src="https://kit.fontawesome.com/120bd35608.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

      <main id="main-content">
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
